*{

margin: 0;
padding: 0;
}




.header{
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(rgba(4,9,30,.7),rgba(4,9,30,.7)),
	url(img/1.jpg);
	background-size: cover;
	background-position: center;
	position: relative;


}